*{
	border: 0;
	padding: 0;
	margin: 0;
	outline: 0;
	vertical-align: top;
}

body{
	background: #fff;
	color: #000;
	font:  Arial, sans-serif;
	font-size: 16px;
}


header{
	width: 1200px;
	height: 600px;
	margin: 0 auto;
	background: url(images/head-bg.png) no-repeat;
	background-size: cover;
	color: #fff;
	-webkit-box-shadow: inset 0px 10px 200px 10px #000;
	-moz-box-shadow: inset 0px 10px 200px 10px #000;
	-o-box-shadow: inset 0px 10px 200px 10px #000;
	box-shadow: inset 0px 10px 200px 10px #000;
	
}

.wrapper{
	width: 960px;
	margin: 0 auto;
}

.logo{
	display: inline-block;
	width: 160px;
	height: 95px;
	background: url(images/logo.png) no-repeat;
	margin-right: 150px;
}

nav{
	display: inline-block;
	list-style: none;
	height: 95px;
	line-height: 95px;
	margin-bottom: 100px;
}

nav li{
	display: inline-block;
}

nav li:not(:first-child){margin-left: 25px;}

nav li:first-child{border-top:3px solid #fff;}

nav li a{
color: #fff;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}


nav li:nth-child(7){
	width: 21px;
	height: 21px;
	background: url(images/social-icons.png) no-repeat;
	vertical-align: middle;
	margin-left: 25px;
	border: none !important;
	cursor: pointer;
}

nav li:nth-child(8){
	width: 24px;
	height: 24px;
	background: url(images/social-icons.png) no-repeat;
	background-position: -34px 0px;
	line-height: 95px;
	vertical-align: middle;
	margin-left: 5px;
	border: none !important;
	cursor: pointer;
}

nav li:nth-child(9){
	width: 20px;
	height: 22px;
	background: url(images/social-icons.png) no-repeat;
	background-position: -67px 0px;
	vertical-align: middle;
	margin-left: 5px;
	border: none !important;
	cursor: pointer;
}

nav li:hover{
	border-top: 3px solid #fff; 
}

h1{
	width: 700px;
	font-size: 76px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}

.divider{
	width: 235px;
	height: 50px;
	background: url(images/decoration-img.png) no-repeat center;
	margin: 0 auto;
	margin-bottom: 30px;
}

.wrapper .links{
	text-align: center;
}

.wrapper .link{
	display: inline-block;
	width: 150px;
	height: 40px;
	border: 1px solid #000;
	background: rgba(0,0,0,0.5);
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	line-height: 40px;
	padding: 0 10px;
	margin: 0 10px;
}

.wrapper .link:hover{
	border: 1px solid #fff;
	background: rgba(250,250,250,0.3);
}

















